.project-tag {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    align-items: center;
    padding: 0.2rem 0.5rem;
    border-radius: 25px;
    }

.project-tag > img {
    width: 20px;
}