.skills-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 2rem;
    max-width: 50rem;
    justify-content: space-evenly;
    margin: 10rem auto;
}


@media only screen and (max-width: 860px) {
    .skills-container{
        justify-content: space-evenly;
        max-width: 35rem;
        margin: 5rem auto;


    }
}

@media only screen and (max-width: 675px) {
    
    .skills-container{
        grid-template-columns: auto auto auto;
        gap: 1rem;
    
    }
    
    
    
}