.skill-card-container{
    width: 150px;

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 4px solid #CBDDFF;
}

.skill-card-container > img {
    width: 100px;
}

.skill-card-container > p {
    color: #fff;
    font-family: sans;
    font-weight: bold;
}