*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #CBDDFF;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  /* scroll-snap-type:y proximity; */
  font-family: sans-serif;
}

section{
  scroll-snap-align: start;
  margin: 2rem 6rem;
}

font-face {
  font-family: 'Mokoto';
  src: url('./assets/fonts/Mokoto.ttf')
}
font-face {
  font-family: 'Istok Web';
  src: url('./assets/fonts/IstokWeb.ttf')
}
body{

  background: linear-gradient(171.62deg, #203A43 1.76%, #18122B 46.69%, #0F2027 86.46%);
  background-repeat:no-repeat;
  padding-top: 10rem;
  max-width: 1900px;
  margin: 0 auto;
}


/* width */
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track {
  background: #000000a4; 
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #21B4E2;
  border-radius: 10px;
}


@media only screen and (max-width: 1100px){
  section{
    margin: 2rem 2rem;
  }
}

@media only screen and (max-width: 860px) {
  body{

  
    padding-top: 1rem;
    max-width: 1900px;
    margin: 0 auto;
  }
  *{
    scroll-padding-top: 2rem;
    scroll-snap-type:none;


  }
}

@media only screen and (max-width: 450px){
  section{
    margin: 1rem 1rem;
  }
}